<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>欢迎!您已经成功登录</h2>
        <p>请选择您要访问的页面</p>
        <div class="button-container">
            <a href="{{ url_for('page1') }}" class="button">添加订单</a>
            <a href="{{ url_for('page2') }}" class="button">删除订单</a>
            <a href="{{ url_for('page3') }}" class="button">显示所有订单</a>
            <a href="{{ url_for('page4') }}" class="button">显示当前交易信息</a>
        </div>
    </div>
</body>
</html>