<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>显示交易信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page4_styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>显示交易信息</h2>
        <div class="button-container">
            <a href="{{ url_for('target_page1') }}" class="button">查看所有交易历史</a>
        </div>
        <a href="{{ url_for('mainPage') }}">返回主页面</a>
    </div>
</body>
</html>