<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查看当下股票交易形势</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page3_styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>选择您要查看的股票</h2>
        <div class="button-container">
            <a href="{{ url_for('view_stock_trend', stock_id=0) }}" class="button">恒大集团</a>
            <a href="{{ url_for('view_stock_trend', stock_id=1) }}" class="button">山西焦煤</a>
            <a href="{{ url_for('view_stock_trend', stock_id=2) }}" class="button">万达电影</a>
        </div>
        <a href="{{ url_for('mainPage') }}">点击此处返回主界面</a>
    </div>
</body>
</html>